[mcu]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: none
max_velocity: 300
max_accel: 3000

[virtual_sdcard]
path: /home/klippy/printer_data/gcodes

[display_status]
[pause_resume]

[egm_bridge]
debug_mode: true
log_moves: false
